@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import 'mixins';

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  height: 100vh;
  padding: 0 20px;

  @include onBigDesktop {
    padding: 0;
  }
}

.nav {
  padding-top: 20px;
  margin-bottom: 64px;

  @include onSmallDesktop {
    margin-bottom: 200px;
  }
}

.top {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onSmallDesktop {
    flex-direction: row;
  }
}

img {
  width: 300px;
  margin-bottom: 75px;

  @include onBigPhone {
    width: 350px;
  }

  @include onTab {
    width: 450px;
    margin-bottom: 0;
  }

  @include onDesktop {
    width: 550px;
  }
}

.title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  display: block;
  max-width: 600px;
  font-size: 48px;

  @include onDesktop {
    font-size: 64px;
  }

}

.text {
  margin: 0;
  margin-bottom: 64px;
  display: block;
  max-width: 390px;
  font-size: 18px;

  @include onDesktop {
    font-size: 24px;
  }
}

.button {
  font-family: inherit;
  text-transform: uppercase;
  padding: 24px 40px;
  background: #333333;
  border: none;
  color: #fff;

  font-size: 14px;
  font-weight: 700;

  cursor: pointer;
}
